<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/bootstrap-icons.css') }}" rel="stylesheet" type="text/css">
    <link rel="icon" href="{{ url_for('static', filename='img/ToDoIcon.png') }}">
    {% if title %}
        <title>ToDo - {{ title }}</title>
    {% else %}
        <title>ToDo</title>
    {% endif %}
</head>
<body>
<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('sobre') }}">
            <img style="height: 30px; width: auto" alt="logo" src="{{ url_for('static', filename='img/ToDoLogo.png') }}" class="ps-3 logo">
        </a>
        <div class="navbar-nav">
            {% if current_user.is_authenticated %}
                <div id="notificacoes" class="dropdown me-2">
                    <button data-bs-toggle="dropdown" type="button" style="border: none; background-color: inherit">
                        <i style="font-size: 1.7rem; cursor: pointer" class="bi bi-bell-fill position-relative"></i>
                        <span id="badge" style="display: none" class="position-absolute mt-2 translate-middle p-2 border bg-danger border-light rounded-circle">
                            <span class="visually-hidden">New alerts</span>
                        </span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                    </ul>
                </div>
                <div class="dropdown me-1 pe-2">
                    <i style="font-size: 1.7rem; cursor: pointer" class="bi bi-person-circle" data-bs-toggle="dropdown"></i>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="{{ url_for('perfil') }}">Perfil</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('listas') }}">Ver listas</a></li>
                        <li><a class="dropdown-item text-danger" href="{{ url_for('logout') }}">Sair</a></li>
                    </ul>
                </div>
            {% else %}
                <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                <a class="nav-item nav-link" href="{{ url_for('cadastro') }}">Cadastro</a>
            {% endif %}
        </div>
    </div>
</nav>

<div class="container-fluid">
    {% block content %}{% endblock %}
</div>

<script type="text/javascript" src="{{ url_for('static', filename='toast/tata.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/layout.js') }}"></script>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <script>
                flash('{{ category }}', '{{ message }}', {
                    position: 'br',
                    duration: 2000
                })
            </script>
        {% endfor %}
    {% endif %}
{% endwith %}
{% block script %}{% endblock %}
</body>
</html>
